<nav class="bottom-tabs">
  <a routerLink="/lists" class="tab-item" [class.active]="isActive('/lists')">
    <mat-icon class="tab-icon">list</mat-icon>
    <span class="tab-label">Listen</span>
  </a>
  
  <a routerLink="/articles" class="tab-item" [class.active]="isActive('/articles')">
    <mat-icon class="tab-icon">shopping_cart</mat-icon>
    <span class="tab-label">Artikel</span>
  </a>
  
  <a routerLink="/shops" class="tab-item" [class.active]="isActive('/shops')">
    <mat-icon class="tab-icon">restaurant</mat-icon>
    <span class="tab-label">Rezepte</span>
  </a>
  
  <a routerLink="/recipes" class="tab-item" [class.active]="isActive('/recipes')">
    <mat-icon class="tab-icon">smart_toy</mat-icon>
    <span class="tab-label">Assistent</span>
  </a>
</nav>