@use '@angular/material' as mat;

// Define a light theme
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$red-palette,
    tertiary: mat.$green-palette,
  ),
));

// Apply the theme to all components
html {
  @include mat.all-component-themes($theme);
}

// Global styles
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.spacer {
  flex: 1 1 auto;
}