<div class="edit-mode">
  <!-- Add New Article Button (Full Width) -->
  <div class="add-button-container">
    <button
      mat-raised-button
      (click)="onCreateArticle()"
      class="add-article-button full-width"
      [style.background-color]="listColor"
      [style.color]="contrastColor">
      <mat-icon>add</mat-icon>
      Neuer Artikel
    </button>
  </div>

  <!-- Content Container for Articles -->
  <div class="content-container">
    <app-article-list
      [departmentGroups]="departmentGroups"
      [mode]="'edit'"
      [searchQuery]="searchQuery"
      [shouldHideArticle]="shouldHideArticle"
      (editAmount)="onEditAmount($event)"
      (articleInfo)="onArticleInfo($event)"
      (toggleInList)="onToggleInList($event)">
    </app-article-list>
  </div>

  <!-- Edit Mode Actions -->
  <div class="edit-actions">
    <button
      mat-button
      (click)="onDepartmentSort()"
      class="action-button secondary-button"
      [style.color]="listColor">
      <mat-icon>reorder</mat-icon>
      Abteilungen
    </button>
    <button
      mat-button
      (click)="onDeleteList()"
      class="action-button tertiary-button"
      [style.color]="lightColor"
      [disabled]="!isOwner"
      [matTooltip]="!isOwner ? 'Nur der Besitzer kann die Liste löschen' : ''">
      Löschen
    </button>
    <button
      mat-raised-button
      (click)="onEditList()"
      class="action-button primary-button"
      [style.background-color]="listColor"
      [style.color]="contrastColor"
      [disabled]="!isOwner"
      [matTooltip]="!isOwner ? 'Nur der Besitzer kann die Liste bearbeiten' : ''">
      Bearbeiten
    </button>
  </div>
</div>
